@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  .front-page {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100%;
    @apply md:mx-[10rem];
  }
  .news{
    @apply h-full;
  }
  .news-container{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 0.5rem;
    height: 100%;
  }
  .news-container ul{
    @apply flex flex-col gap-[0.5rem] h-full ;
  }
  .news-container ul li{
    @apply bg-gray-100  py-1 px-1 md:mx-[3rem];
  }

  .page-nav button{
    @apply bg-green-600 text-white text-lg py-1 px-[1rem] rounded;
  }


  .filter-container{
    @apply w-[7rem];
  }
  .filter-list{
    @apply hidden;
  }
  .filter-container:hover  .filter-list {
    @apply flex flex-col bg-white gap-2;
  }

  .filter-list li{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .loader {
     border: 1rem solid #f3f3f3; 
    border-top: 1rem solid #3498db;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: roller 2s linear infinite;
  }

  @keyframes roller {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 
}

